<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1 id='header'>Back-end system</h1>
      <nav id='nav'>
        <ul>
          <li class='post'><a href="/admin/articles">Blog posts</a></li>
          <li class='comment'><a href="##">Reader comments</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
